# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
demoApp/dist
demoApp/tmp

# dependencies
demoApp/node_modules
libs/node_modules
demoApp/bower_components

# IDEs and editors
demoApp/.idea
demoApp/.vscode
demoApp/.project
demoApp/.classpath
demoApp/*.launch
demoApp/.settings/

# misc
demoApp/.sass-cache
demoApp/connect.lock
demoApp/coverage/*
demoApp/libpeerconnection.log
demoApp/npm-debug.log
demoApp/testem.log
demoApp/typings

# e2e
demoApp/e2e/*.js
demoApp/e2e/*.map

#System Files
demoApp/.DS_Store
demoApp/Thumbs.db
