<div class="container">
  <div class="spacer"></div>
  <div class="white">
    <div class="row">
      <div class="col-lg-12">
        <h2>Components</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>Edit List</h4>
        <p>Edit list extends edit form </p>
        <edit-list></edit-list>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>Edit Form</h4>
        <edit-form></edit-form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>Checklist</h4>
        <check-list></check-list>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>Search Options</h4>
        <search-options></search-options>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>
